openapi: 3.0.0
info:
  version: 1.0.0
  title: Cisco IoT Control Center API
  description: A Python client for the Cisco IoT Control Center (Jasper) REST API.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
security:
  - basicAuth: []
tags:
  - name: Users
paths:
  /v{apiVersion}/eventplan/{iccid}:
    $ref: './specs/paths/events.yaml#/~1v{apiVersion}~1eventplan~1{iccid}'
  /v{apiVersion}/customers/{customerId}:
    $ref: './specs/paths/customers.yaml#/~1v{apiVersion}~1customers~1{customerId}'
  /v{apiVersion}/customers:
    $ref: './specs/paths/customers.yaml#/~1v{apiVersion}~1customers'
  /v{apiVersion}/echo/{param}:
    $ref: './specs/paths/echo.yaml#/~1v{apiVersion}~1echo~1{param}'
  /v{apiVersion}/devices/{iccid}:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}'
  /v{apiVersion}/editeventplan/{iccid}:
    $ref: './specs/paths/events.yaml#/~1v{apiVersion}~1editeventplan~1{iccid}'
  /v{apiVersion}/dynareport/acct/usage:
    $ref: './specs/paths/dynareport.yaml#/~1v{apiVersion}~1dynareport~1acct~1usage'
  /v{apiVersion}/dynareport/acct/device/subscriptions:
    $ref: './specs/paths/dynareport.yaml#/~1v{apiVersion}~1dynareport~1acct~1device~1subscriptions'
  /v{apiVersion}/dynareport/acct/topk/usage:
    $ref: './specs/paths/dynareport.yaml#/~1v{apiVersion}~1dynareport~1acct~1topk~1usage'
  /v{apiVersion}/apikey/{userId}:
    $ref: './specs/paths/users.yaml#/~1v{apiVersion}~1apikey~1{userId}'
  /v{apiVersion}/devices/{iccid}/auditTrails:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}~1auditTrails'
  /v{apiVersion}/devices/{iccid}/locationHistory:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}~1locationHistory'
  /v{apiVersion}/devices/{iccid}/ctdUsages:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}~1ctdUsages'
  /v{apiVersion}/devices/{iccid}/usageInZone:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}~1usageInZone'
  /v{apiVersion}/devices/{iccid}/sessionInfo:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}~1sessionInfo'
  /v{apiVersion}/smsMessages/{smsMsgId}:
    $ref: './specs/paths/sms.yaml#/~1v{apiVersion}~1smsMessages~1{smsMsgId}'
  /v{apiVersion}/usages:
    $ref: './specs/paths/usages.yaml#/~1v{apiVersion}~1usages'
  /v{apiVersion}/devices:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices'
  /v{apiVersion}/smsMessages:
    $ref: './specs/paths/sms.yaml#/~1v{apiVersion}~1smsMessages'
  /v{apiVersion}/devices/{iccid}/smsMessages:
    $ref: './specs/paths/devices.yaml#/~1v{apiVersion}~1devices~1{iccid}~1smsMessages'
  /v{apiVersion}/users:
    $ref: './specs/paths/users.yaml#/~1v{apiVersion}~1users'
  /v{apiVersion}/users/{userId}:
    $ref: './specs/paths/users.yaml#/~1v{apiVersion}~1users~1{userId}'
  /v{apiVersion}/users/{userId}/resetPassword:
    $ref: './specs/paths/users.yaml#/~1v{apiVersion}~1users~1{userId}~1resetPassword'
servers:
  - url: https://restapi3.jasper.com/rws/api
    description: Production Server
  - url: https://rws-jpotest.jasper.com/rws/api
    description: Sandbox/Test Server
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Use your Control Center username and your API key as the password.
  schemas:
    ActivateTerminalEventRequest:
      $ref: './specs/components/schemas/ActivateTerminalEventRequest.yaml'
    CustomerDTO:
      $ref: './specs/components/schemas/CustomerDTO.yaml'
    Hello:
      $ref: './specs/components/schemas/Hello.yaml'
    DeviceEditModel:
      $ref: './specs/components/schemas/DeviceEditModel.yaml'
    EditEventInstancesRequest:
      $ref: './specs/components/schemas/EditEventInstancesRequest.yaml'
    SessionInfos:
      $ref: './specs/components/schemas/SessionInfos.yaml'
    SendSmsMessagesRequest:
      $ref: './specs/components/schemas/SendSmsMessagesRequest.yaml'
    UserCreateDTO:
      $ref: './specs/components/schemas/UserCreateDTO.yaml'
    UserUpdateDTO:
      $ref: './specs/components/schemas/UserUpdateDTO.yaml'
    DeviceDetails:
      $ref: './specs/components/schemas/DeviceDetails.yaml'
